* {
  margin: 0px;
}

#menuhorizontal {
    list-style-type:none;
    display: table;
    width: 100%;
    background: #004b98;
    margin: 0 auto;
  }
  #menuhorizontal a {
    background: #004b98;
    color: white;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* Estilos para centrar elementos del navbar*/
  /*.centrarElementosLi {
    margin: auto;
     width: 100%;
       background: #004b98;
  }*/
  
  #menuhorizontal li {
    float:left;
  }
  
  #menuhorizontal a:hover {
    background-color:#336699;
  }